{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block styling %}
{% endblock %}

{% block content %}

<div class="container " style="margin-top:50px;">
	<div class="row">
		<div class="col-md-3">
			<div class="jumbotron bg-dark text-center text-white">
				  <h1 class="display-4">+</h1>
				  <p class="lead">Addition</p>
				  <hr class="my-4 bg-info">
				  <p class="lead">
				    <a class="btn btn-success btn-md" href="/addition" role="button">Click</a>
				  </p>
			</div>		
		</div>

		<div class="col-md-3">
			<div class="jumbotron bg-dark text-center text-white">
				  <h1 class="display-4">-</h1>
				  <p class="lead">Subtraction</p>
				  <hr class="my-4 bg-info">
				  <p class="lead">
				    <a class="btn btn-success btn-md" href="/subtraction" role="button">Click</a>
				  </p>
			</div>
		</div>

		<div class="col-md-3">
			<div class="jumbotron bg-dark text-center text-white">
				  <h1 class="display-4">x</h1>
				  <p class="lead">Multiplication</p>
				  <hr class="my-4 bg-info">
				  <p class="lead">
				    <a class="btn btn-success btn-md" href="/multiplication" role="button">Click</a>
				  </p>
			</div>			
		</div>

		<div class="col-md-3">
			<div class="jumbotron bg-dark text-center text-white">
				  <h1 class="display-4">&#247;</h1>
				  <p class="lead">Division</p>
				  <hr class="my-4 bg-info">
				  <p class="lead">
				    <a class="btn btn-success btn-md" href="/division" role="button">Click</a>
				  </p>
			</div>
		</div>
	</div>
</div>

{% endblock %}